body {
  height: 100vh;
}

.home-background {
  background-image: url("background/background2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1000;
  opacity: 40%;
}

.image_de_taudis {
  text-align: center;
}

.carroussel-home {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 10px;
}

.head-sentence {
  animation: rainbow 5s infinite alternate; /* Animation de l'effet arc-en-ciel */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff7f00, 0 0 70px #ff7f00, 0 0 80px #ff7f00, 0 0 90px #ffff00;
}

.carousel-container {
  box-shadow: 0px 0px 9px 0px #573f13;
}

.carousel-item,
.image-home,
.carousel-inner {
  height: 70vh;
  width: 100%;
}

.carousel {
  width: 60%;
}
.carroussel-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-home {
  object-fit: cover;
}

.retro-button {
  margin-top: 10px;
}
