
.retro-button {
  background-color: $orange;
  border: 2px solid $green;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Comic Sans MS', cursive;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.retro-button:hover {
  background-color: $green;
  color: $orange;
}

.image_de_taudis {
text-align: center;
}
