<<<<<<< HEAD

.retro-button {
  background-color: $orange;
  border: 2px solid $green;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Comic Sans MS', cursive;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  width: 260px;
  margin: 0 auto;
}

.retro-button:hover {
  background-color: $green;
  color: $orange;
}


.home-background {
  background-image: url("background/background2.png") ;
  background-size: cover;
  background-position: center;
  width: 100%;
  height : 950px;
  position:absolute;
  z-index: -1000;
  opacity: 40%;
=======
.image_de_taudis {
text-align: center;
>>>>>>> ad480df4a9f11b03fcde889683a4f72f9c27cb40
}

.carroussel-home {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 10px;
}

.head-sentence {
  0% {
    color: #ff0000; /* Rouge */
  }
  20% {
    color: #ff7f00; /* Orange */
  }
  40% {
    color: #ffff00; /* Jaune */
  }
  60% {
    color: #00ff00; /* Vert */
  }
  80% {
    color: #0000ff; /* Bleu */
  }
  100% {
    color: #8a2be2; /* Violet */

  }

}
.head-sentence {
  animation: rainbow 5s infinite alternate; /* Animation de l'effet arc-en-ciel */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff7f00, 0 0 70px #ff7f00, 0 0 80px #ff7f00, 0 0 90px #ffff00;
}

.carousel-item, .image-home, .carousel-inner {
  height:70vh;
  width: 100%;
}

.carousel {
  width :60%

}
.carroussel-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-home {
  object-fit: cover;
}

.retro-button{
  margin-top: 10px;
}


