
 <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
</div>

 <div class="text-center">
    <h1 class="title">Trouvez le Taudis de vos Rêves !</h1>
    <h2 class="animate__animated animate__bounce title" >Des vacances de rêve... dans vos pires cauchemars !</h2>
</div>

<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
</div>

<div class="image_bg mt-2 text-center">
  <%= image_tag "homepage.jpg", class: "image_de_taudis mx-auto", width: "800", height: "600"  %>
  <%= link_to "cliquez maintenant 👻", flats_path, class: "retro-button d-block mt-3" %>
</div>
