
 <div class = "home-background">
</div>
  <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
  </div>

  <div class="text-center head-sentence">
      <h1 class="title">Trouvez le Taudis de vos Rêves !</h1>
      <h2 class="animate__animated animate__bounce title" >Des vacances de rêve... dans vos pires cauchemars !</h2>
  </div>

  <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
  </div>


<div class="container carroussel-home">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("carroussel/cavecarroussel.png", class: "d-block image-home w-100") %>
        </div>
        <div class="carousel-item">
          <%= image_tag("carroussel/couloircarroussel.png", class: "d-block image-home w-100")%>
        </div>
        <div class="carousel-item">
          <%= image_tag("carroussel/escalierscarroussel.png", class: "d-block image-home w-100")%>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <%= link_to "cliquez maintenant 👻", flats_path, class: "retro-button" %>
</div>
