.cards-show {
  width: 450px;
  border: solid;
  border-radius: 32px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8)
}


.banner-show {
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    width: 500px;
    margin-top: 50px,
  }
}
.details-show {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.owner-photo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.show-background {
  background-image: url("background/background3.png") ;
  background-size: cover;
  background-position: center;
  width: 100%;
  height : 1120px;
  position:absolute;
  z-index: -1000;
  opacity: 20%;
}


.owner-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  }

  .adress-container {
    display: flex;
  }

  .map {
    font-size: 30px
  }

  .adress-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .text-description{
    text-align: justify;
    padding-right: 35px;
  }

  li {
    list-style: none;
  }

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  height: 30px;
  display: flex;
}
.loader:before {
  content: "";
  background: #000;
  width: 15px;
  clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
  animation: l1 1.5s infinite linear;
}
@keyframes l1 {
  90%,100%{flex-grow: 1}
}

.arrow-image {
display: flex;
flex-direction: row-reverse;
align-items: center;
gap: 30px
}

.banner-show h1 {
  color: purple;
  margin-top: 30px;
}

.gif-show{
  display: flex;
  gap: 30px;
  align-items: center;
}
